<div class="categories">
    <div class="container">
        {{#each sanpham}}
        <h3 class="mt-4">| {{CatName}}</h3>
        <div class="row">
            <div class="col-12">
                <div class="details-categories">
                    <div class="details-img">
                        <a href="#"><img src="/public/assets/images/{{Avatar}}"> </a>
                    </div>
                    <div class="details-content">
                        <div class="ct-title font-weight-bold">
                            {{NewsTitle}}
                        </div>
                        <div class="ct-date">
                            {{DatePost}}
                        </div>
                        <div class="ct-content ">
                            {{{Content}}}
                        </div>
                        <div class="ct-tag font-weight-bold">
                            #{{TagName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <h3 class="mt-4">| Đánh Giá</h3>

        <div class="row">
            <div class="col ">
                <form action="/post/uploadCm" id="frmCM" method="post">
                    <div class="form-group">
                        <input type="text" id="ipCM" class="form-control mt-4 mb-4" name="ndBinhLuan"
                            placeholder="Nhập Bình Luận...">
                        {{#if idPost}}
                        <input type="hidden" id="idPost" name="idPost" value="{{idPost}}">

                        {{/if}}
                        {{#if UserName}}
                        <input type="hidden" id="UserName" name="UserName" value="{{UserName}}">
                        {{/if}}
                        <button type="submit" class="btn submit btn-success w-100">
                            Gửi
                        </button>
                    </div>
                </form>
                <div class="comment">
                </div>
            </div>
            <div class="col-12">
                <div id="panigation1">
                </div>
            </div>
        </div>
        <h3 class="mb-4">| Chủ Đề Tương Tự</h3>
        <div class="row muclienquan">
            {{#each bvlienquan}}
            <div class="col-sm-3 mb-4">
                <div class="item">
                    <div class="img-top-view-muclienquan">
                        <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}"> </a>
                    </div>
                    <div class="content-item-top-view-muclienquan">
                        <div class="tw-title">
                            <a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                        </div>
                        <div class="tw-date"> {{DatePost}} </div>
                        <div class="tw-category"><a href="/post/listTag/?tagName={{TagName}}"> #{{TagName}} </a></div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#section 'js'}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.js"></script>
<script>

    let sPageURL = window.location.href.split('/')[5];

    let dataTotal = [];
    $("#frmCM").on("submit", function (e) {
        e.preventDefault();
        $.post("/post/uploadCm", $(this).serialize(), function (data) {
            dataTotal = data;
            $.get(`/post/is-dataComment/?idPost=${sPageURL}`, function (data, status) {

                $('#panigation1').pagination({
                    dataSource: data,
                    pageSize: 3,
                    autoHidePrevious: true,
                    autoHideNext: true,
                    callback: function (data, pagination) {
                        var html = simpleTemplating(data);
                        $('.comment').html(html);
                    }
                })

            });
        });
        $('#ipCM').val("");
    })

    $.get(`/post/is-dataComment/?idPost=${sPageURL}`, function (data, status) {
<<<<<<< HEAD
=======
        console.log('ok');
>>>>>>> cfbb8c5b9b4e001d028bbf5aa06c5ee0f0807b1f
        $('#panigation1').pagination({
            dataSource: data.concat(dataTotal),
            pageSize: 3,
            autoHidePrevious: true,
            autoHideNext: true,
            callback: function (data, pagination) {
                var html = simpleTemplating(data);
                $('.comment').html(html);
            }
        })
    });



    function simpleTemplating(data) {
        var html = ' <div class="comment">';
        $.each(data, function (index, item) {
            html += `<div class="ctiet-danhgia text-left">
                    <div class="nd-danhgia"><b>Nội Dung:&nbsp;&nbsp;</b><i>${item.Content}</i> </div>
                                  <div class="date-dg"> <b>Ngày:&nbsp;&nbsp;</b><i>${item.DateTime} </i></div>
                                  <div class="name-docgia"><b>Thành Viên:&nbsp;&nbsp;</b> <i>${item.UserName}</i></div> 
                                  </div>`;
        });
        html += '</div>';
        return html;
    }






</script>

{{/section}}