<div class="editbaiviet">
    <h3 class="text-center">| Chỉnh Sửa Bài Viết</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <label class="text-left" for="Avartar" style="width: 100%;">Bài viết chưa được duyệt !</label>
                <input type="text" class="form-control mb-4" readonly="readonly" value="{{error}}">
                {{#if post}}
                <form action="/post/edit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" id="edittieudeBV" aria-describedby="emailHelp"
                            name="NewsTitle" value="{{this.post.NewsTitle}}" placeholder="Tiêu Đề Bài Viết . . .">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="edittomtatBV" aria-describedby="emailHelp"
                            name="Abstract" value="{{this.post.Abstract}}" placeholder="Nội Dung Tóm Tắt . . .">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="editnoidungBV" aria-describedby="emailHelp"
                            name="Content" value="{{this.post.Content}}" placeholder="Nội Dung Chính . . .">
                    </div>
                    <div class="form-group">
                        <label class="text-left" for="Avartar" style="width: 100%;">Hình Đại Diện Bài Viết</label>
                        <input type="file" class="form-control" aria-describedby="emailHelp" name="Avartar"
                            value="{{this.post.Avatar}}">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editexampleFormControlSelect1" name="loaiBaiViet">
                            {{#if this.post.IsPremium}}
                            <option selected="selected">Mất phí</option>
                            <option>Không mất phí</option>
                            {{else}}
                            <option selected="selected">Không mất phí</option>
                            <option>Mất phí</option>
                            {{/if}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text-left" for="chuyemuc">Chuyên Mục: </label>
                        <input type="text" class="form-control" id="editnoidungBV" style="
    display: inline-block;
    width: 250px;
    margin-bottom: 20px;
" name="showchuyenmuc" value="{{this.post.CatChild_ID}}" readonly="readonly">
                        <select class="form-control" id="exampleFormControlSelect1" name="chuyemuc">
                            <option>Thay Đổi Chuyên Mục</option>
                            <option>Tư Liệu</option>
                            <option>Phân Tích</option>
                            <option>Doanh Nghiệp</option>
                            <option>Bất Động Sản</option>
                            <option>Phim</option>
                            <option>Ca Nhạc</option>
                            <option>Bóng Đá</option>
                            <option>Tennis</option>
                            <option>Hồ Sơ Phá An</option>
                            <option>Tư Vấn Pháp Luật</option>
                            <option>Tuyển Sinh</option>
                            <option>Du Học</option>
                            <option>Các Bệnh</option>
                            <option>Tư Vấn Sức Khỏe</option>
                            <option>Tổ ấm</option>
                            <option>Bài Học Sống</option>
                            <option>Điểm Đến</option>
                            <option>Tư Vấn Du Lịch</option>
                            <option>Giao Thông</option>
                            <option>MeKong</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input value="{{this.post.Author}}" type="hidden" class="form-control" id="edittacgia"
                            aria-describedby="emailHelp" name="tacgia">
                    </div>
                    <div class="form-group">
                        <input value="{{this.post.NewsID}}" type="hidden" class="form-control" id="edittacgia"
                            aria-describedby="emailHelp" name="NewsID">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="editngaydang" aria-describedby="emailHelp"
                            name="ngaydang" value="{{this.post.DatePost}}" placeholder="Ngày Đăng . . .">
                    </div>
                    <button type="submit" style="
        width: 100%;
    " class="btn btn-primary mt-4 mb-4">Submit</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/wc2zes0u5j2hxklaov2xxoswv6griqgeb3tzkqfotvmf4yjp/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

    tinymce.init({
        selector: '#editnoidungBV',
        height: 200,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>

<script>

    $('#editngaydang').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true
    })
</script>

{{/section}}
{{#section 'cssLogin'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}