<section>
    <div class="topTenview">
        <div class="container">
            <div class="ctent-list">
                {{#each catName}}
                <h3 class="mt-4 mb-4 text-center"> | {{CatName}} | </h3>
                {{/each}}
                <div class="row">
                    {{#if empty}}
                    <p>Không có dữ liệu</p>
                    {{else}}
                    {{#if typeUser}}
                    {{#each list}}
                    <div class="col list-ct">
                        <div class="item">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-chuyemuc"><a href="/post/listCategories/{{CatID}}">{{CatName}} </a></div>
                                <div class="tw-category"><a href="/post/listTag/?tagName={{TagName}}"> #{{TagName}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}} </div>
                                <div class="tw-abstract"> {{Abstract}} </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    {{#each listIsPremium}}
                    <hr>
                    <div class="col list-ct">
                        <div class="item ispremium">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-chuyemuc"><a href="/post/listCategories/{{CatID}}">{{CatName}} </a></div>
                                <div class="tw-category"><a href="/post/listTag/?tagName={{TagName}}"> #{{TagName}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}} </div>
                                <div class="tw-abstract"> {{Abstract}} </div>

                            </div>
                            <div class="gianhan">
                                <a class="btn btn-danger" href="/users/extension" role="button">Gia Han</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{#each listNotPremium}}
                    <div class="col list-ct">
                        <div class="item">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-chuyemuc"><a href="/post/listCategories/{{CatID}}">{{CatName}} </a></div>
                                <div class="tw-category"><a href="/post/listTag/?tagName={{TagName}}"> #{{TagName}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}} </div>
                                <div class="tw-abstract"> {{Abstract}} </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                    {{/if}}
                </div>
                <div class="panigation ">

                    <a href="?page={{prev}}" class=" {{#if can_go_prev}}disabled
                    {{/if}}"><i class="fa fa-chevron-left " aria-hidden="true"></i></a>
                    {{#each pages_item}}
                    {{#if isActive}}
                    <a href="?page={{value}}" class="pages active"> {{value}} </a>
                    {{else}}
                    <a href="?page={{value}}" class="pages"> {{value}} </a>
                    {{/if}}

                    {{/each}}
                    <a href="?page={{next}}" class=" {{#if can_go_next}}disabled
                    {{/if}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>