<section>
    <div class="topTenview">
        <div class="container">
            <div class="ctent-list">
                {{#each catName}}
                <h3 class="mt-4 mb-4 text-center"> | {{CatName}} | </h3>
                {{/each}}
                <div class="row">
                    {{#if empty}}
                    <p>Không có dữ liệu</p>
                    {{else}}
                    {{#each list}}
                    <hr>
                    <div class="col list-ct">
                        <div class="item">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-chuyemuc"><a href="/post/listCategories/{{CatID}}">{{CatName}} </a></div>
                                <div class="tw-category"><a href="/post/listTag/?tagName={{TagName}}"> #{{TagName}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}} </div>
                                <div class="tw-abstract"> {{Abstract}} </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>