<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- gg font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- slick-->
    <link rel="stylesheet" type="text/css" href="/public/js/slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="/public/js/slick/slick-theme.css" />
    <!-- Cusstom css -->
    {{{_sections.cssLogin}}}
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <!-- Nav tabs -->
    <div class="container-fluid  nav-margin">
        <div class="top-header">
            <div class="nav-brand">
                <a href="/" class="text-gray">Blogger</a>
            </div>
            <div class="full-text-search">
                <form method="post" action="/post/search">
                    <input type="text" class="form-control" name="search" id="" aria-describedby="helpId"
                        placeholder="Tìm Kiếm Bài Viết...">
                </form>
            </div>
            <form action="/users/logout" id="logout" method="POST"></form>
            <div class="social text-gray">
                {{#if lcIsAuthenticated}}
                <span>Hello</span> <b> <a
                        href="/users/profile/{{lcAuthUser.UserID}}">{{lcAuthUser.UserName}}</a> !</b>
                <a href="javascript: $('#logout').submit()">Đăng Xuất</i></a>
                {{else}}
                <a href="/users/login">Đăng Nhập |</i></a>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <nav class="nav">
                <div class="nav-menu">
                    <div class="toggle-collapse">
                        <div class="toggle-icons">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div>
                        <ul class="nav-items menu">
                            <li class="nav-link"><a href="/post/listCategories/1">Thế Giới</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/1">Tư Liệu</a></li>
                                    <li class=""><a href="/post/listChild/2">Phân Tích</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/2">Kinh Doanh</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/3">Doanh Nghiệp</a></li>
                                    <li class=""><a href="/post/listChild/4">Bất Động Sản</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/3">Giải Trí</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/5">Phim</a></li>
                                    <li class=""><a href="/post/listChild/6">Ca Nhạc</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/4">Thể Thao</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/7">Bóng Đá</a></li>
                                    <li class=""><a href="/post/listChild/8">Tennis</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/5">Pháp Luật</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/9">Hồ Sơ Phá An</a></li>
                                    <li class=""><a href="/post/listChild/10">Tư Vấn</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/6">Giáo Giục</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/11">Tuyển Sinh</a></li>
                                    <li class=""><a href="/post/listChild/12">Du Học</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/7">Sức Khỏe</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/13">Các Bệnh</a></li>
                                    <li class=""><a href="/post/listChild/14">Tư Vấn</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/8">Đời Sống</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/15">Tổ Ấm</a></li>
                                    <li class=""><a href="/post/listChild/16">Bài Học Sống</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/9">Du Lịch</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/17">Điểm Đến</a></li>
                                    <li class=""><a href="/post/listChild/18">Tư Vấn</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="/post/listCategories/10">Thời Sự</a>
                                <ul class="child-menu">
                                    <li class=""><a href="/post/listChild/19">Giao Thông</a></li>
                                    <li class=""><a href="/post/listChild/20">Mekong</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <hr>
            </nav>

        </div>
    </div>
    {{{body}}}
    <footer class="footer text-center">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quam neque aperiam! Ut praesentium
                    nisi labore cupiditate asperiores aperiam neque. Excepturi tenetur qui ratione nisi ut pariatur
                    voluptate repellat nihil.</p>
            </div>
            <div class="newsletter" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element" style="
    position: relative;
">
                    <input type="text" placeholder="Email">
                    <span style="
    position: absolute; right: 0;
"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="/public/assets/instagram/thumb-card3.png" alt="">
                    <img src="/public/assets/instagram/thumb-card4.png" alt="">
                    <img src="/public/assets/instagram/thumb-card5.png" alt="">
                    <img src="/public/assets/instagram/thumb-card6.png" alt="">
                    <img src="/public/assets/instagram/thumb-card7.png" alt="">
                    <img src="/public/assets/instagram/thumb-card8.png" alt="">
                </div>
            </div>
            <div class="follow" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray" style="
    text-align: center;
">
                Copyright @2020 All right reserved | made by Nguyen Thai

            </h4>
        </div>
        <div class="move-up">
            <span><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></span>
        </div>
    </footer>
    <!-- Footer xxx-->




    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    {{{_sections.js}}}
    <!-- slick -->
    <script src="/public/js/slick/slick.min.js"></script>
    <!-- Cusstom javascrips -->
    <script src="/public/js/main.js"></script>
</body>

</html>