<!-- Nav tabs xxx-->
<!-- main -->
<!-- bviet noi bat -->
<section style="padding-top: 50px; margin-top:10px;">
    <div class="background">
        <div class="container background-post">
            <div class="title-post text-center">Bài viết nổi bật</div>
            <div class="content-post">
                <div class="row">
                    {{#each lcBVnoiBat}}
                    <div class="col-sm-12 col-md-6">
                        <div class="post-item">
                            <div class="item-img">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}"
                                        width="100px" height="100px">
                                </a>
                            </div>
                            <div class="content-post">
                                <div class="post-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="post-cre-date"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{DatePost}} </div>
                                <div class="post-category"><a href="#"> {{TagName}} </a></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- bviet noi bat xxx -->

<!-- top 10 view  -->
<section>
    <div class="topTenview">
        <div class="container">
            <div class="item-top-view">
                <div class="title-top-view text-center">
                    Top 10 view
                </div>
                <div class="slick-multiline-top-view">
                    {{#each  lcmuoiBVnoibat}}
                    <div class="col-sm-4">
                        <div class="item">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}}</div>
                                <div class="tw-category"><a href="#">#{{TagName}}</a></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top 10 view  xxx-->
<!-- top 10 post new -->
<section>
    <div class="topTenview">
        <div class="container">
            <div class="item-top-view">
                <div class="title-top-view text-center newpost-title">
                    Bài Viết Mới Nhất
                </div>
                <div class="slick-multiline-top-new">
                    {{#each lcBVmoiNhat}}
                    <div class="ntt-col">
                        <div class="item">
                            <div class="img-top-view">
                                <a href="/post/detailsCategory/{{NewsID}}"><img src="/public/assets/images/{{Avatar}}">
                                </a>
                            </div>
                            <div class="content-item-top-view">
                                <div class="tw-title"><a href="/post/detailsCategory/{{NewsID}}"> {{NewsTitle}} </a>
                                </div>
                                <div class="tw-date"> {{DatePost}} </div>
                                <div class="tw-category"><a href="#"> #{{TagName}} </a></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top 10 post new xxx-->


<!-- top 10 chuyen muc -->
<section>

    <div class="tag-chuyenmuc">
        <h3 class="title-chuyenmuc">
            top 10 chuyên mục
        </h3>
        <ul class="list-chuyenmuc">
            {{#each  lcmuoichuyenmuc}}
            <li><a href="#"># {{TagName}} </a></li>
            {{/each}}

        </ul>
    </div>
</section>


<!-- top 10 chuyen muc xxx -->
<!-- main xxx-->

<!-- Footer -->